body {
    background-color: #101820;
    color: #b0c4de;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    color: #FFD700;
}

h2 {
    color: #7CFC00;
}

h3 {
    color: #FFA07A;
}

p {
    color: #F0E68C;
}

a {
    color: #B0C4DE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
