body {
    background-color: #2c383a;
    color: #b5d5d5;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #FFD700;
}

h2 {
    color: #8891a4;
}

h3 {
    color: #FF00FF;
}

p {
    color: #FF00FF;
}

a {
    color: #FF00FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
